@model IEnumerable<ApartmentDomain.Address>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ApartmentIndex</title>
</head>
<body>    
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FlatNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HouseName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NumberOfRooms)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DescriptionOfRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRoomAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Street)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Country)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
                <th>Actions</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlatNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HouseName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfRooms)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DescriptionOfRoom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRoomAvailable)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Country)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ZipCode)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "GetApartmentRent", new { AddressID = item.address_ID }) |
                        @Html.ActionLink("Book", "RegisterBooking", new { AddressID = item.address_ID })
                    </td>
                </tr>
            }

        </table>
</body>
</html>
