<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/jquery-ui.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.12.4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.12.1.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/Content/bootstrap-theme.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap-theme.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="~/Content/themes/Site.css" rel="stylesheet" />
</head>
<body>
    @Html.AntiForgeryToken()
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <text> Logged in as : @System.Web.HttpContext.Current.Session["UserName"] </text>
        }
        else
        {
            <text>Welcome Guest</text>
        }
        <table class="table" align="left">
            <thead class="thead-inverse">
                <tr>
                    <td>
                        Welcome @System.Web.HttpContext.Current.Session["UserName"]
                    </td>
                <tr>
            </thead>
        </table>
        <table align="right">
            <tr>
                <td>
                    @using (Html.BeginForm("Index", "Home"))
                    {
                        <input type="submit" value="Logout" />
                    }
                </td>
            </tr>
        </table>
    </div>
    <br /><br /><br />
    <div>
        <ul>
            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>